<link rel="stylesheet" href="/css/main.css">
<section name="body" class="main-products">

<header>
    <link rel="stylesheet" href="/css/login.css">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:9090/">href Landing</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://www.reddit.com/media?url=https%3A%2F%2Fpreview.redd.it%2Fi-told-you-not-to-touch-it-v0-x3kuy3y2awjc1.jpeg%3Fauto%3Dwebp%26s%3Dce0a43a505ce4c5ab73073883e7d124cdf7ae0c0">NO TOCAAAAR</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            NAV 2
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="">NAV 3</a></li>
                            <li><a class="dropdown-item" href="">NAV 4</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
            <a class="nav-link" href="http://localhost:9090/api/sessions/viewLogin">BackOffice</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="container mt-5">
    <h1>Productos</h1>
    <div class="row">
        {{#each products.docs}}
        <div class="col-md-4 mb-4">
            <div class="card h-80 shadows-md">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text">${{this.price}}</p>
                    <a href="/api/products/{{this._id}}">Ver Producto</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <!-- Paginacion -->
    <nav aria-label="Page Navigation">
        <ul class="pagination justify-content-center">
            {{#if products.hasPrevPage}}
            <li class="page-item">
                <a class="page-link" href="?page={{products.prevPage}}&limit={{products.limit}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            {{/if}}
            {{#each products.pageNumbers}}
            <li class="page-item {{#if this.isCurrent}}active {{/if}}">
                <a class="page-link" href="?page={{this.number}}&limit={{../products.limit}}">{{this.number}}</a>
            </li>
            {{/each}}
            {{#if products.hasNextPage}}
            <li class="page-item">
                <a class="page-link" href="?page={{products.nextPage}}&limit={{products.limit}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>
<footer>
    <link rel="stylesheet" href="/css/sections.css">
  <div id="bottom">

<div class="newsletter">
    <div class="newsletter-title">
    <h4>¿Quieres suscribirte a nuestro newsletter?</h4>
    </div>
    <div class="newsletter-form">
    <form action="#" method="get">
        <input type="text" placeholder="Nombre" name="first-name" />
        <input type="text" placeholder="Escribe tu mail" name="mail" />
        <input type="checkbox" name="accept" />
        <input type="submit" value="Enviar" />
    </form>
</div>
<p>Al presionar el botón "Envíar" estas aceptando nuestras <a href=""><strong>Políticas de publicidad e información.</strong></a></p>
</div>
    
    
    
    
     <div class="social">
        <h4>¡Siguenos en nuestras redes para enterarte todas las novedades!</h4>
        <a href="https://i.kym-cdn.com/entries/icons/facebook/000/045/844/zuckrberg_window.jpg" ><img class="facebook" src="/resources/icons8-facebook.svg" alt="facebook"></a>
        <a href="https://miro.medium.com/v2/resize:fit:1200/1*L17cV5QipasLjL_0mcgI0Q.jpeg" ><img src="/resources/icons8-instagram.svg" alt="instagram"></a>
      </div>
  </div>
  <div class="to-top"><a href="">Volver a Inicio</a></div>
</footer>
</section>